{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}

    {% for genre in genres %}
        <div>
            <h3>{{genre.nom}} | id : {{genre.id}}</h3>
            <br>
        </div>
    {% endfor %}
    
{% endblock %}
