header {
    background-color: var(--lightblue);
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--grey);
    font-size: 1.5rem;
}

a:hover {
    text-decoration: underline;
    color: var(--black);
}