{% extends 'base.html.twig' %}

{% block title %}Hello AuteurController!{% endblock %}

{% block body %}

    {% for auteur in auteurs %}
        <div>
            <h3>{{auteur.nom}} | id : {{auteur.id}}</h3>
            <p>Siecle : {{auteur.Siecle}}</p>
            <p>style : {{auteur.style}}</p>
            <br>
        </div>
    {% endfor %}

{% endblock %}
