<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel= "stylesheet" href="{{ asset('CSS/variables.css')}}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="/user">User</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
