<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel= "stylesheet" href="{{ asset('CSS/destyle.css')}}">
        <link rel= "stylesheet" href="{{ asset('CSS/variables.css')}}">
        <link rel= "stylesheet" href="{{ asset('CSS/header.css')}}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="/user">User</a>
                <a href="/livre">Livres</a>
                <a href="/auteur">auteurs</a>
                <a href="/genre">genres</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
