{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<style>
    .error-message {
        color: red;
        font-weight: bold;
        margin-bottom: 1rem;
    }
</style>

<div class="example-wrapper">

    {# récupère le message flash de type "error" ( email déjà utilisé dans signupcontroller). 
   meme s'il n'y  a qu'une erreur, Symfony retourne sous forme de tab,
   donc j'utilise une boucle for pour l'afficher. #}
    {% for message in app.flashes('error') %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        {{ form(form) }}
    </div>

</div>

{% endblock %}
