{% extends 'base.html.twig' %}

{% block title %}Liste des Adhérents{% endblock %}

{% block body %}

<h1>Liste des Adhérents</h1>

<ul>
    {% for user in users %}
        <li>
            {{ user.name }} — ({{ user.role }}) — {{ user.email }}
        </li>
    {% endfor %}
</ul>

{% endblock %}
